Repository shabados/database, pull requests merged in 2019-02, with the labels that each got.

#144 Greenkeeper/lint staged 8.1.0
  package-lock.json
  package.json
Labels: greenkeeper

#145 Update dependencies
  package-lock.json
  package.json
Labels: greenkeeper

#336 fix-VQ4F
  data/Vaaran Bhai Gurdas Ji/09.json
Labels: correction

#104 J2AC
  data/Sri Dasam Granth/0011.json
  package-lock.json
Labels: Sri Dasam Granth, correction

#112 W0K7
  data/Sri Dasam Granth/0709.json
Labels: Sri Dasam Granth, correction

#113 NZ32
  data/Sri Dasam Granth/0710.json
Labels: Sri Dasam Granth, correction

#114 8CG8
  data/Sri Dasam Granth/0710.json
Labels: Sri Dasam Granth, correction

#115 TT4Z
  data/Sri Dasam Granth/0710.json
Labels: Sri Dasam Granth, correction

#125 W7L9
  data/Sri Guru Granth Sahib Ji/0004.json
Labels: Sri Guru Granth Sahib Ji, correction

#126 UA6X
  data/Sri Guru Granth Sahib Ji/0722.json
Labels: Sri Guru Granth Sahib Ji, correction

#152 M80Q
  data/Vaaran Bhai Gurdas Ji/20.json
Labels: Vaaran Bhai Gurdas Ji, correction

#431 fix-SM38
  data/Vaaran Bhai Gurdas Ji/13.json
Labels: correction

#368 fix-2R35
  data/Vaaran Bhai Gurdas Ji/11.json
Labels: correction

#366 fix-3BM2
  data/Vaaran Bhai Gurdas Ji/11.json
Labels: correction

#365 fix-47WJ
  data/Vaaran Bhai Gurdas Ji/11.json
Labels: correction

#456 fix-UU4V
  data/Vaaran Bhai Gurdas Ji/16.json
Labels: correction

#427 fix-ZC32
  data/Vaaran Bhai Gurdas Ji/13.json
Labels: correction

#325 fix-PL7H
  data/Vaaran Bhai Gurdas Ji/20.json
Labels: correction

#326 fix-0BCE
  data/Vaaran Bhai Gurdas Ji/20.json
Labels: correction

#327 fix-CKW7
  data/Vaaran Bhai Gurdas Ji/21.json
Labels: correction

#328 fix-9GEP
  data/Vaaran Bhai Gurdas Ji/22.json
Labels: correction

#329 fix-Q22Z
  data/Vaaran Bhai Gurdas Ji/22.json
Labels: correction

#330 fix-VPMC
  data/Vaaran Bhai Gurdas Ji/22.json
Labels: correction

#331 fix-49KQ
  data/Vaaran Bhai Gurdas Ji/22.json
Labels: correction

#332 fix-T6C5
  data/Vaaran Bhai Gurdas Ji/22.json
Labels: correction

#333 fix-W6X3
  data/Vaaran Bhai Gurdas Ji/22.json
Labels: correction

#334 fix-AREW
  data/Vaaran Bhai Gurdas Ji/09.json
Labels: correction

#335 fix-FAFR
  data/Vaaran Bhai Gurdas Ji/09.json
Labels: correction

#337 fix-YLES
  data/Vaaran Bhai Gurdas Ji/09.json
Labels: correction

#338 fix-0R46
  data/Vaaran Bhai Gurdas Ji/09.json
Labels: correction

#339 fix-EREK
  data/Vaaran Bhai Gurdas Ji/09.json
Labels: correction

#341 fix-RW25
  data/Vaaran Bhai Gurdas Ji/09.json
Labels: correction

#342 fix-UX4G
  data/Vaaran Bhai Gurdas Ji/09.json
Labels: correction

#343 fix-3K4Y
  data/Vaaran Bhai Gurdas Ji/09.json
Labels: correction

#344 fix-YJXG
  data/Vaaran Bhai Gurdas Ji/10.json
Labels: correction

#345 fix-CZ4E
  data/Vaaran Bhai Gurdas Ji/10.json
Labels: correction

#361 fix-S19G
  data/Vaaran Bhai Gurdas Ji/11.json
Labels: correction

#340 fix-NWAJ
  data/Vaaran Bhai Gurdas Ji/09.json
Labels: correction

#360 fix-0020
  data/Vaaran Bhai Gurdas Ji/11.json
Labels: correction

#362 fix-BV9G
  data/Vaaran Bhai Gurdas Ji/11.json
Labels: correction

#363 fix-BDJ1
  data/Vaaran Bhai Gurdas Ji/11.json
Labels: correction

#364 fix-7WCQ
  data/Vaaran Bhai Gurdas Ji/11.json
Labels: correction

#369 fix-JLKH
  data/Vaaran Bhai Gurdas Ji/11.json
Labels: correction

#370 fix-X0PM
  data/Vaaran Bhai Gurdas Ji/11.json
Labels: correction

#371 fix-N6EE
  data/Vaaran Bhai Gurdas Ji/11.json
Labels: correction

#372 fix-E7MB
  data/Vaaran Bhai Gurdas Ji/11.json
Labels: correction

#401 fix-DTM3
  data/Vaaran Bhai Gurdas Ji/12.json
Labels: correction

#402 fix-NRSZ
  data/Vaaran Bhai Gurdas Ji/23.json
Labels: correction

#403 fix-CYG4
  data/Vaaran Bhai Gurdas Ji/23.json
Labels: correction

#404 fix-K4QJ
  data/Vaaran Bhai Gurdas Ji/23.json
Labels: correction

#405 fix-LN7P
  data/Vaaran Bhai Gurdas Ji/23.json
Labels: correction

#406 fix-20RT
  data/Vaaran Bhai Gurdas Ji/23.json
Labels: correction

#407 fix-GTD1
  data/Vaaran Bhai Gurdas Ji/23.json
Labels: correction

#408 fix-ZL6Y
  data/Vaaran Bhai Gurdas Ji/12.json
Labels: correction

#410 fix-GFDE
  data/Vaaran Bhai Gurdas Ji/12.json
Labels: correction

#411 fix-6ED5
  data/Vaaran Bhai Gurdas Ji/12.json
Labels: correction

#413 fix-8NB8
  data/Vaaran Bhai Gurdas Ji/12.json
Labels: correction

#415 fix-RJPW
  data/Vaaran Bhai Gurdas Ji/12.json
Labels: correction

#416 fix-9382
  data/Vaaran Bhai Gurdas Ji/12.json
Labels: correction

#417 fix-40AF
  data/Vaaran Bhai Gurdas Ji/12.json
Labels: correction

#418 fix-ND6N
  data/Vaaran Bhai Gurdas Ji/12.json
Labels: correction

#419 fix-EF7P
  data/Vaaran Bhai Gurdas Ji/12.json
Labels: correction

#420 fix-KYHS
  data/Vaaran Bhai Gurdas Ji/12.json
Labels: correction

#421 fix-ADP9
  data/Vaaran Bhai Gurdas Ji/12.json
Labels: correction

#422 fix-92PT
  data/Vaaran Bhai Gurdas Ji/12.json
Labels: correction

#426 fix-H4CB
  data/Vaaran Bhai Gurdas Ji/13.json
Labels: correction

#428 fix-5RDF
  data/Vaaran Bhai Gurdas Ji/13.json
Labels: correction

#429 fix-RNB7
  data/Vaaran Bhai Gurdas Ji/13.json
Labels: correction

#433 fix-81RC
  data/Vaaran Bhai Gurdas Ji/13.json
Labels: correction

#435 fix-ZK81
  data/Vaaran Bhai Gurdas Ji/13.json
Labels: correction

#437 fix-Q1QF
  data/Vaaran Bhai Gurdas Ji/13.json
Labels: correction, verify-research

#439 fix-0NVY
  data/Sri Guru Granth Sahib Ji/0001.json
Labels: correction

#441 fix-LMER
  data/Vaaran Bhai Gurdas Ji/14.json
Labels: correction

#442 fix-7DEZ
  data/Vaaran Bhai Gurdas Ji/14.json
Labels: correction

#443 fix-ME80
  data/Vaaran Bhai Gurdas Ji/14.json
Labels: correction

#444 fix-N1YD
  data/Vaaran Bhai Gurdas Ji/14.json
Labels: correction

#445 fix-VBW1
  data/Vaaran Bhai Gurdas Ji/15.json
Labels: correction

#446 fix-RVJU
  data/Vaaran Bhai Gurdas Ji/15.json
Labels: correction

#448 fix-YZKF
  data/Vaaran Bhai Gurdas Ji/15.json
Labels: correction

#449 fix-554K
  data/Vaaran Bhai Gurdas Ji/15.json
Labels: correction

#451 fix-QK4M
  data/Vaaran Bhai Gurdas Ji/16.json
Labels: correction

#452 fix-K4RK
  data/Vaaran Bhai Gurdas Ji/16.json
Labels: correction

#453 fix-FGTZ
  data/Vaaran Bhai Gurdas Ji/16.json
Labels: correction

#454 fix-P4AY
  data/Vaaran Bhai Gurdas Ji/16.json
Labels: correction

#455 fix-80YW
  data/Vaaran Bhai Gurdas Ji/16.json
Labels: correction

#459 fix-YDBK
  data/Sri Guru Granth Sahib Ji/0686.json
Labels: correction

#469 fix-C3K5
  data/Vaaran Bhai Gurdas Ji/15.json
Labels: correction

#450 fix-6FZF
  data/Vaaran Bhai Gurdas Ji/16.json
Labels: correction

#447 fix-BVCZ
  data/Vaaran Bhai Gurdas Ji/15.json
Labels: correction

#432 fix-J6S8
  data/Vaaran Bhai Gurdas Ji/13.json
Labels: correction

#430 fix-33VK
  data/Vaaran Bhai Gurdas Ji/13.json
Labels: correction

#423 fix-NR8M
  data/Vaaran Bhai Gurdas Ji/12.json
Labels: correction

#414 fix-WHNA
  data/Vaaran Bhai Gurdas Ji/12.json
Labels: correction

#374 Emphasize core aspect of project in readme
  README.md
Labels: enhancement
