Repository shabados/database, pull requests merged in 2019-10, with the labels that each got.

#1229 fix(api): Fix lines relation in Bani
  lib/models/Banis.js
Labels: Priority: 5 Critical, Status: Complete, Type: Fix

#1233 feat(api): Add first letter start
  lib/models/Lines.js
Labels: Priority: 4 High, Status: In Progress, Type: Feature/Enhancement

#1228 fix(data/vaaran-bhai-gurdas-ji): remove question marks from X4HZ and Z9E5
  data/Vaaran Bhai Gurdas Ji/10.json
Labels: Priority: 3 Medium, Scope: Data/Vaaran Bhai Gurdaas Ji, Status: Complete, Type: Fix

#1239 fix(data): Combine Shabad 6CJ into LHY
  data/Sri Guru Granth Sahib Ji/0916.json
Labels: Priority: 5 Critical, Scope: Data/Sri Guru Granth Sahib Ji, Status: Complete, Type: Fix

#1240 fix(data): fix line 8EEH in Ardaas
  data/Ardaas/1.json
Labels: Priority: 5 Critical, Scope: Data/Ardaas, Status: Ready for Review, Type: Fix

#1236 feat(data): Add pronunciation for Jaap Sahib
  data/Sri Dasam Granth/0001.json
  data/Sri Dasam Granth/0003.json
  data/Sri Dasam Granth/0004.json
  data/Sri Dasam Granth/0005.json
  data/Sri Dasam Granth/0006.json
  data/Sri Dasam Granth/0007.json
  data/Sri Dasam Granth/0008.json
  data/Sri Dasam Granth/0009.json
  data/Sri Dasam Granth/0010.json
  package-lock.json
Labels: Priority: 5 Critical, Scope: Data/Sri Dasam Granth, Status: Complete, Type: Feature/Enhancement

#1249 fix(data): Fix remaining corrections to Bhai Gurdaas Ji Vaaran
  data/Vaaran Bhai Gurdas Ji/04.json
  data/Vaaran Bhai Gurdas Ji/11.json
  data/Vaaran Bhai Gurdas Ji/14.json
  data/Vaaran Bhai Gurdas Ji/17.json
  data/Vaaran Bhai Gurdas Ji/36.json
  data/Vaaran Bhai Gurdas Ji/37.json
  data/Vaaran Bhai Gurdas Ji/38.json
Labels: Priority: 5 Critical, Scope: Data/Vaaran Bhai Gurdaas Ji, Status: Complete, Type: Fix

#1328 feat(data): import Sarabloh Granth
  data/Sarabloh Granth/1.json
  data/Sarabloh Granth/2.json
  data/Sarabloh Granth/3.json
  data/Sarabloh Granth/4.json
  data/sources.json
  data/translation_sources.json
  package-lock.json
Labels: Priority: 5 Critical, Status: Ready for Review, Type: Feature/Enhancement
