Repository shabados/database, pull requests merged in 2020-04, with the labels that each got.

#1570 fix(data): combine shabad id 0PU and YM8 #1506
  data/Sri Guru Granth Sahib Ji/0248.json
Labels: Scope: Data/Sri Guru Granth Sahib Ji, Status: Pending Review, Type: Fix

#1569 fix(data): update page number for id 864V #1568
  data/Sri Guru Granth Sahib Ji/0368.json
Labels: Scope: Data/Sri Guru Granth Sahib Ji, Status: Pending Review, Type: Fix

#1485 fix(data): correct Amrit Keertan source for Sarabloh Granth
  data/Sarabloh Granth/1.json
  data/Sarabloh Granth/2.json
  data/Sarabloh Granth/3.json
  data/Sarabloh Granth/4.json
  data/sources.json
Labels: Status: In Progress

#1391 fix(data): restore SGPC Pad Shed on Line ID ENA9
  data/Sri Guru Granth Sahib Ji/0701.json
Labels: Scope: Data/Sri Guru Granth Sahib Ji, Status: Complete, Type: Fix

#1583 fix(data): match Aarti baani with one sung at Sri Darbar Sahib
  data/banis.json
Labels: Difficulty: 0, Impact: 3 High, Status: Pending Review, Type: Fix
